body {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 200;
}

div.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.products {
  display: flex;
  flex: column;
}
